.cajaResumen{

background-color: var(--negro-oscuro2);
  border-radius: 5px;
  padding: 8px;
height: 80px;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.ResumenTexto{
  background-color:  var(--selecionar-boton);
  border-radius: 5px;
  width: 150px;
  text-align: center;
}
.ResumenNumero{
    font-size: 25px;
    font-weight: 600;
    color: var(--texto-claro1);
}
.ResumenD{
  font-size: 16px;
   color: var(--texto-claro1);
}




@media (max-width: 600px) {



.cajaResumen{


  border-radius: 3px;
  padding: 4px 0;
height: 45px;

}

.ResumenTexto{

  border-radius: 3px;
  width: 95px;
  text-align: center;

 
}

.ResumenNumero{
    font-size: 14px;
    font-weight: 600;
}
.ResumenD{
  font-size: 11px;
}


}
