
:root {
--gris: #3d3d3d;
--gris2: #6F6F6F;
--gris3: #e1e1e1;
--rosado: #9858ff;

--negro-oscuro1:#313131;
--negro-oscuro2:#474747;
--texto-claro1:#B0B3B8 ;
--linea-divisoria:#3e4042;
--selecionar-boton:#3b3b3b;



}

html {
font-size: 62.5%;
 box-sizing: border-box;
 }
 *, *:before, *:after {
  box-sizing: inherit;
 }
body {
 font-size: 1.6rem; 
line-height: 1.5;
font-family: 'PT Sans', sans-serif;
 }
 h1, h2, h3 {
margin: 0 0 2rem 0;
 line-height: 1.5;
 }
 h1, h2 {
 font-family: 'Roboto Slab', serif;
font-weight: 700;
 }
h3 {
font-family: 'PT Sans', sans-serif;
 }

 ul {
 list-style: none;
 margin: 0;
 padding:0;
 }
 a {
 text-decoration: none;
 }

 img {
 max-width: 100%;
  }





  .sadf{

    background-color: #B0B3B8;
width: 100px;
height: 50px;
margin: 2px;


  }


