
.cajaFondo1{
  background-color: var(--negro-oscuro1);
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;





}

.InterprovincialLocal{

background-color: var(--negro-oscuro2);
  margin:  8px 0;
  border-radius: 5px;


display: flex;
flex-direction: row;
justify-content: space-evenly;
flex-wrap: wrap;
}

.NavegacionInferior{
  background-color: rgb(17, 17, 17);
  width: 100%;
  height: 40px;
  position: fixed;
  bottom: 0px;
    box-shadow: 0px -5px 21px 0px rgba(0, 0, 0, 0.9);
    color: rgb(139, 139, 139);
}


@media (max-width: 600px) {
.NavegacionInferior{
  background-color: rgb(17, 17, 17);
  width: 100%;
  height: 35px;
  position: fixed;
  bottom: 0px;
    box-shadow: 0px -5px 21px 0px rgba(0, 0, 0, 0.9);
    color: rgb(139, 139, 139);

}
}
